/* PokeList.css */
.poke-container {
  display: flex;
  align-items: flex-start;
}

.filter-section {
  width: 200px;
  margin-right: 20px;
}

.filter-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
}

.pokemon-list {
  margin-right: 20px;
}

.pokemon-details {
  position: fixed;
  top: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  max-height: 100vh;
  overflow-y: auto;
  z-index: 1000; /* Adjust as needed, make sure it's higher than other elements */
}

